.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba($blackColor , 0.3) ;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &--open {
    display: flex;
  }

  &--on-animation {
    animation: opacityOn 1s both;
  }

  &--off-animation {
    animation: opacityOff 1s both;
  }

  &__body {
    display: flex;
    position: relative;
    margin: 0 15px;
    border-radius: 20px;
    background-color: $whiteColor;
    padding: 20px;
    max-width: 500px;

    &--on-animation {
      animation: backInLeft 1s both;
    }

    &--off-animation {
      animation: backOutRight 1s both;
    }
  }

  &__btn {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  &__content {
    @include blockCenter;
  }
}
