.solution {
  padding: px2rem(42px) 0 px2rem(30px) 0;

  &__container {
  }

  &__title-block {
    margin: px2rem(42px) 0 px2rem(63px) 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin: px2rem(-20px) px2rem(-10px);

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    @media (max-width: 768px) {
      flex: 0 1 50%;
    }
    @media (max-width: 480px) {
      display: flex;
      flex: 0 1 100%;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: px2rem(20px) 0;
    max-width: px2rem(340px);
  }

  &__icon {
    @include blockCenter;
    @include modStyle($iconBackground);

    border-radius: 50%;
    box-shadow: 0 4px 22px rgba($blackColor, 0.05);
    width: px2rem(80px);
    height: px2rem(80px);
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    margin: px2rem(6px) 0 px2rem(18px) 0;
    text-align: center;
    line-height: px2rem(32px);
    color: $additionalDarkColor;
    font: {
      weight: 500;
      size: px2rem(20px);
    }
  }

  &__text {
    margin: 0;
    padding: 0 px2rem(10px);
    text-align: center;
    line-height: px2rem(20px);
    color: rgba($blackColor, 0.5);
    font-size: $smallFontSize;
  }
}
