.camera(id='camera')
  p.camera__text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text