.modal
  .modal__body
    +button(
      'modal', /* класс */
      'close', /* модификатор */
      'x', /* текст */
      'button', /* тип */
      'close', /* содержимое атрибута title */
      false, /* иконка */
      false, /* альтернативный текст иконки */
    )
    .modal__content
