@font-face {
  font-family: dm;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/dm-bold.woff2') format('woff2'), url('../fonts/dm-bold.woff') format('woff');
}
@font-face {
  font-family: dm;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/dm-regular.woff2') format('woff2'), url('../fonts/dm-regular.woff') format('woff');
}
@font-face {
  font-family: poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/poppins-semibold.woff2') format('woff2'), url('../fonts/poppins-semibold.woff') format('woff');
}
@font-face {
  font-family: poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/poppins-regular.woff2') format('woff2'), url('../fonts/poppins-regular.woff') format('woff');
}
@font-face {
  font-family: poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/poppins-medium.woff2') format('woff2'), url('../fonts/poppins-medium.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: Rubik;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'), url('../fonts/Rubik-Medium.woff') format('woff');
}
@font-face {
  font-family: SF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SF-Regular.woff2') format('woff2'), url('../fonts/SF-Regular.woff') format('woff');
}
@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'), url('../fonts/Ubuntu-Regular.woff') format('woff');
}
